

.typeWriter{
  background: #E10000;
background: linear-gradient(to right, #E10000 0%, #FFFFFF 90%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;  
}
.typeWriterI{
  background: #E10000;
background: linear-gradient(to right, #E10000 100%, #FFFFFF 18%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.steps-img{
    animation: bounce 5s infinite; /* Change the animation name, duration, and iteration count as needed */
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Adjust the amount of bounce as needed */
    }
    100% {
      transform: translateY(0);
    }
  }