

.typeWriter{
    font-family: 'Roboto Mono', monospace;
}
.steps-img{
    animation: bounce 5s infinite; /* Change the animation name, duration, and iteration count as needed */
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Adjust the amount of bounce as needed */
    }
    100% {
      transform: translateY(0);
    }
  }