.navbar{
  
    background: #ffffff;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .visible {
    animation: slidein 0.5s forwards;
  }
  
  .nonVisible {
    animation: slideout 0.5s forwards;
  }
  
  @keyframes slidein {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  
  @keyframes slideout {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }
  /* From uiverse.io by @Ali-Tahmazi99 */
  .button1 {
    display: inline-block;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    cursor: pointer;
   }
   
   .button1::before,
   .button1::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   .button1::before {
    left: -10px;
    background: #240046;
   }
   
   .button1::after {
    right: -10px;
    background: #5a189a;
   }
   
   .button1:hover::before,
   button:hover::after {
    width: 58%;
   }
   
   .button1:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   .button1 span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }
    