.app{
  width:100%;

}
.testimoni{
  animation: bounce 5s infinite;
}


@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px); /* Adjust the amount of bounce as needed */
  }
  100% {
    transform: translateY(0);
  }
}